body {
  background-color: #2980b9;
  /*background-color: #3498db;*/

}

.spanText {
  font-size: 300px;
  color: white;
  font-weight: bold;
}

.span6 {
  text-align: center;

}

.inputStyle input[type="text"] {
  display: block;
  margin: auto;
  width: 20%;
  font-family: sans-serif;
  font-size: 28px;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

.inputStyle input[type="text"]:focus {
  border: solid 10px #707070;
}
